<p>photo-management works!</p>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%;">id</th>
                <th style="width: 40%;">username</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let photo of photos">
                <td>{{photo.id}}</td>
                <td>{{photo.username}}</td>
                <td><button class="btn btn-info">Approve</button></td>
            </tr>
        </tbody>
    </table>
</div>
